<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .card {
        border-radius: 12px;
    }

    .badge {
        font-size: 13px;
        padding: 5px 10px;
    }

    .btn {
        border-radius: 8px;
    }
</style>
<body>
<div layout:fragment="content">
    <div class="container mt-4">
        <div class="card shadow-lg p-4">

            <h2 class="text-center mb-3" th:text="${course.name}"></h2>

            <div th:if="${course.full}" class="alert alert-danger text-center">
                HẾT CHỖ
            </div>

            <div class="row mt-3">
                <!-- LEFT -->
                <div class="col-md-6">
                    <p>
                        <strong>Level:</strong>
                        <span class="badge badge-success"
                              th:if="${course.level == 'Beginner'}">Beginner</span>

                        <span class="badge badge-warning"
                              th:if="${course.level == 'Intermediate'}">Intermediate</span>

                        <span class="badge badge-danger"
                              th:if="${course.level == 'Advanced'}">Advanced</span>
                    </p>

                    <p>
                        <strong>Thời lượng:</strong>
                        <span th:text="${course.duration} + ' tháng'"></span>
                    </p>

                    <p>
                        <strong>Khai giảng:</strong>
                        <span th:text="${course.startDate}"></span>
                    </p>
                </div>

                <!-- RIGHT -->
                <div class="col-md-6">
                    <p>
                        <strong>Giảng viên:</strong>
                        <span th:text="${course.instructor}"></span>
                    </p>

                    <p>
                        <strong>Học phí:</strong>
                        <span class="text-danger font-weight-bold"
                              th:text="${#numbers.formatDecimal(course.fee,0,'COMMA',0,'POINT')} + ' VNĐ'"></span>
                    </p>

                </div>

            </div>

            <div class="mt-4 p-3 bg-light rounded">
                <strong>Mô tả:</strong>
                <p class="mt-2 mb-0" th:text="${course.description}"></p>
            </div>

            <div class="text-center mt-4">
                <a th:href="@{/course/list}" class="btn btn-secondary mr-2">
                    Quay lại
                </a>

                <a th:href="@{'/course/edit/' + ${course.id}}"
                   class="btn btn-warning">
                    Sửa
                </a>
            </div>

        </div>

    </div>

</div>
</body>
</html>